footer {
    div {
        display: flex;
        justify-content: center;
        font-size: $text-normal;
        padding: 3rem;

            a {
                border-radius: 6px;
                background-color: deepskyblue;
                border: solid 2px ;
                transition: .5 .5 ease;
                border-color: blue;
            }
            a:hover {
                transform: scale(1.5);
                border-color: transparent;
                background-color: #6aeeff;
            }
    }
    span {
        font-size: $text-normal/2;
        color: seashell;
    }
}
@media screen and (max-width:1080px) {
    footer {
        div {font-size: 2rem;padding: 2rem;}
        span {font-size: $text-normal/3;}
    }
}
@media screen and (max-width:720px) {
    footer { 
        div {font-size: 1rem;padding: 1rem;}
        span {font-size: $text-normal/4;}
    }
}